[submodule "fonts/latin-modern/lmweb"]
	path = fonts/latin-modern/lmweb
	url = https://github.com/slashfoo/lmweb
[submodule "normalisecss/normalize.css"]
	path = normalisecss/normalize.css
	url = https://github.com/necolas/normalize.css/
